Test  csv loaded

In [2]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

   Capitale                   Pays/Territoire     Population Année
0     Pékin                             Chine  21 710 000[1]  2017
1     Tokyo                             Japon  13 754 059[2]  2016
2  Kinshasa  République Démocratique du Congo     12 071 000  2016
3    Moscou                            Russie  11 541 000[3]  2011
4     Séoul                      Corée du Sud  10 528 774[4]  2011